@import "reset";

.wrap{
  margin: 0 auto;
  max-width: 640px;

  .box{
    display: flex;

    li{
      display: flex;
      margin-bottom: 24px;

      .news{
        margin: 0 20px;
      }

      h2{
        line-height: 1.2;
        font-size: 20px;
      }
      p{
        line-height: 1.5;
        font-size: 16px;
      }
    }
  }

  footer{
    padding: 3rem;

    p{
      line-height: 1.5;
      font-size: 16px;
    }
  }
}